
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: poppins;
}

body{
  background-color: black;
}
canvas{
  width: 400px;
  height: 100%;
  position: fixed;
  z-index: -1;
  animation: canvas;
  
}


.container{
  width: 100%;
  height: 100vh;
  z-index: 3;
  position: absolute;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  color: white;
}
.navbar .link ul li{
  display: inline-block;
  text-decoration: none;
  margin: 0 12px;
  padding: 10px;
  transition: 0.5s;
  border-radius: 15px;

}
.navbar .link ul li:hover{
  background-color: #387773;
  
}
.navbar ul li a{
  color: white;
  text-decoration: none;
}
.grid_me{
  display: grid;
  grid-template-columns: repeat(2,50%);
}
.navbar .name i{
  font-size: 20px;
  color:rgb(56, 119, 115) ;

}
.left {
  transform: translateY(20%);
  position: relative;
  margin-left: 20px;
}
.right ,.left{
  height: 70vh;
}

.left h1{
  font-size: 60px;
  margin: 15px 0;
}
.left h2{
  font-size: 45px;
}
.left h3,h4{
  font-size: 40px;
  color:rgb(56, 119, 115) ;
}
.left .bottom_me{
  width: 230px;
  height: 40px;
  position: absolute;
  bottom: 0;
  right: 50px;
  border-radius: 15px;
  cursor: pointer;

}

.left button{
  width: 100%;
  height: 100%;
  background-color:rgb(56, 119, 115) ;
  border-radius: 15px;
  z-index: 3;
  cursor: pointer;

}
.desc{
  font-size: 17px;
  margin-top: 20px;
}
